# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv

# Credenciales
credentials.json
*.json

# Streamlit
.streamlit/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
ultima_verificacion.txt